@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fr71mf');
  src:  url('fonts/icomoon.eot?fr71mf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fr71mf') format('truetype'),
    url('fonts/icomoon.woff?fr71mf') format('woff'),
    url('fonts/icomoon.svg?fr71mf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hy-icon"], [class*=" hy-icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hy-icon-exclamation-circle:before {
  content: "\e901";
}
